
.cart-wrapper {
    background-color: #97979794;
    position: absolute;
    height: 100%;
    overflow-y: hidden;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}
.cart-page {
    font-family: var(--primary-font);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    height: 100%;
    right: 0;
    background-color: rgb(255, 255, 255);
    min-width: 450px;
    max-width: 450px;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}
.cart-header {
    font-size: 35px;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid var(--primary-color);
}
.cart-close {
    font-size: 25px;
    transform: scale(1.5, 1);
    font-weight: 100;
    cursor: pointer;
}
.all-cart-items {
    padding: 1rem;
    height: 80%;
    overflow: auto;
}
.cart-item-container {
    padding: 1rem 0;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: 1px solid black;
}
.cart-item-container:last-child {
    border-bottom: none;
}
.cart-item-container img {
    margin-right: 1rem;
}
.cart-item-info {
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.cart-item-title {
    font-weight: 700;
}
.add-remove {
    margin-top: 1rem;
    width: 100%;
    justify-content: space-between;
}
.add-remove .remove {
    font-size: 13px;
    cursor: pointer;
    border-bottom: 1px solid transparent;
}
.add-remove .remove:hover {
    border-bottom: 1px solid black;
}
.grand-total {
    justify-content: space-between;
    padding: 2rem 1rem;
    background-color: var(--primary-color);
    color: var(--background-color);
}

.quantity-control {
    cursor: pointer;
    border: 1px solid yellowgreen;
}

.quantity-control a {
    margin: 0 1rem;
}

.go-to-shoping {
    text-transform: capitalize;
    margin-top: 3rem;
    color: var(--background-color);
    background-color: var(--primary-color);
    font-family: var(--primary-font);
    font-size: 20px;
    padding: 1rem 2rem;
}