.category-menu {
    /* background-color: #fffef8; */
    padding-bottom: 1rem;
    border-bottom: 0.01rem solid rgba(180, 180, 180, 0.247);
}
.category-menu ul {
    margin: 0;
}

.category-menu ul li {
    text-transform: capitalize;
    list-style: none;
    padding: 0 2rem;
    font-family: var(--primary-font);
    cursor: pointer;
    transition: 0.24s ease-in-out;
    line-height: 3rem;
}
.category-menu ul li:hover {
    border-bottom: 1px solid black;
    font-weight: 700;
}

.dropdown-menu {
    z-index: 1000;
    border-top: 0.01rem solid rgba(180, 180, 180, 0.247);
    display: none;
    position: absolute;
    left: 0%;
    min-width: 100%;
    background-color: #ffffff;
    padding: 1.5rem 0;
    margin-top: 1px;
    line-height: 2rem;
    font-weight: 400;
    box-shadow: rgba(0, 0, 0, 0.100) 0px 3px 5px;
}
.dropdown-inner {
    width: 50%;
    margin: 0 auto;
}
.dropdown-inner a p {
    transition: 0.1s ease-in-out;
}
.dropdown-inner a {
    color: black;
    text-decoration: none;
    font-family: var(--primary-font);
    transition: 0.1s ease-in-out;
}
.dropdown-inner a:hover p{
    transform: scale(1.01, 1);
}
.category-menu ul li:hover .dropdown-menu {
    display: block;
}
.close-toggle {
    float: right;
    margin: 0 1rem 0 0;
}
.mobile-nav-backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(139, 139, 139, 0.432);
}

@media screen and (max-width: 1240px) {
    .category-menu ul li {
        padding: 0 1rem;
    }
}
@media screen and (max-width: 850px) {
    .category-menu ul {
        justify-content: space-between;
    }
    .category-menu ul li {
        padding: 0 0.5rem;
    }
}

@media screen and (max-width: 768px) {
    .category-menu {
        padding-top: 1rem;
        position: absolute;
        top: 0;
        width: 200px;
        height: 100vh;
        background-color: white;
        z-index: 111;
    }
    .category-menu ul {
        margin-top: 3rem;
        z-index: 1111;
        display: block;
    }
    .category-menu ul li {
        border-bottom: 1px solid rgb(182, 182, 182);
    }
    .category-menu ul li::after {
        content: '+';
        color: var(--primary-color);
        float: right;
    }
    .dropdown-menu {
        display: block;
        max-height: 0;
        overflow: hidden;
        padding: 0;
    }
    .dropdown-inner {
        width: 95%;
    }
    .mobile-nav-backdrop {
        display: block;
    }
    .close-toggle:focus ~ .category-menu {
    display: none;
}
}

