.collection-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    gap: 0.7rem;
}
.collection-container .img-wrapper {
    justify-self: center;
    width: 100%;
}
.collection-container .img-wrapper img {
    object-fit: cover;
    width: 100%;
}

.type-1-image {
    object-fit: contain;
    margin-top: 2rem;
}
.type-1-image img {
    width: 100%;
}

.type-2-image {
    margin: 2rem auto;
    justify-content: space-between;
}
.two-image-1 {
    width: 48%;
}
.two-image-1 img {
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1240px) {
    .collection-container {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    }
}
