.counter {
    cursor: pointer;
    justify-content: flex-start;
}
.counter button {
    padding: 0.2rem 0.5rem;
    text-align: center;
    font-size: 18px;
    background-color: transparent;
    border: none;
    outline: none;
    transition: 0.14s ease-in-out;
}

button.btn {
    font-size: 12px;
}
button.btn:hover {
    background-color: black;
    color: white;
}
button.btn:disabled {
    pointer-events: none;
}
