.footer {
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 5rem 0 1rem;
    margin-top: 3rem;
    font-family: var(--primary-font);
}

.footer-wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    gap: 5rem;
}
.footer-wrapper .f{
    align-self: start;
}

.f-2-1 {
    justify-content: start;
    gap: 5rem;
    margin-bottom: 4rem;
}
.f-2-1 h4 {
    text-transform: uppercase;
}
.f-2-1 p {
    text-transform: capitalize;
}

.f-2-2 .email-title {
    font-size: 18px;
    text-transform: uppercase;
}
.f-2-2 .email-subtitle {
    font-size: 13px;
}
.f-2-2 .email-wrapper {
    display: inline-block;
    border-bottom: 1px solid var(--background-color);
}
.f-2-2 input {
    width: 300px;
    margin-top: 1.5rem;
    font-size: 15px;
    font-family: var(--primary-font);
    background-color: transparent;
    border: none;
    outline: none;
    padding: 5px;
    color: var(--background-color);
}

.f-1-2 {
    margin-top: 3rem;
    justify-self: center;
    grid-column: 1/3;
}
.f-1-2 i {
    margin: 0 1rem;
    font-size: 20px;
}
.f-1-2 i:first-child {
    margin: 0;
    margin-right: 1rem;
}

.f-4 {
    grid-column: 1/3;
}

/* @media screen and (max-width: 1240px) {
    .footer-wrapper {
        gap: 5rem 2rem;
    }
} */
