
.header {
    border: 1px solid transparent;
    /* background-color: #fffef8; */
    font-size: 20px;
}

.header .header-inner {
    padding: 1rem 0;
    border-bottom: 1px solid rgba(0, 0, 0);
    justify-content: space-between;
}

.header .header-item {
    flex: 1;
    justify-content: flex-start;
}

.header a {
    color: black;
    text-decoration: none;
    transition: 0.24s ease-in-out;
    margin: 0 1rem;
    cursor: pointer;
}
.header .navbar_wishlist-and-cart a:hover, .header-item a:hover {
    border-bottom: 1px solid black;
}
.header .navbar_wishlist-and-cart {
    justify-content: flex-end;
    flex: 1;
}

.mobile-icon {
    display: none;
    position: relative;
}

.logo {
    font-family: var(--logo-font);
    font-size: 4rem;
    text-decoration: none;
}
.hamburger, .hamburger::after, .hamburger::before {
    height: 2px;
    width: 1rem;
    border-radius: 0.25rem;
    background-color: var(--primary-color);
}
.hamburger::after, .hamburger::before {
    content: '';
    display: block;
    position: absolute;
}
.hamburger::before {
    top: -5px;
}
.hamburger::after {
    top: 5px;
}

/* .hamburger:focus .hamburger::after {
    display: none;
}
.hamburger:focus .hamburger::before {
    transform: rotate(90deg);
} */
.mobile-active {
    transform: rotate(45deg);
}
.mobile-active .hamburger::after {
    display: none;
}
.mobile-active .hamburger::before {
    top: -7px;
    left: 7px;
    height: 1rem;
    width: 1.5px;
}

@media screen and (max-width: 768px) {
    .header a {
        margin: 0.5rem;
    }
    .mobile-icon {
        display: block;
    }
    .desktop-icon {
        display: none;
    }
    
}

@media screen and (max-width: 540px) {
    .logo {
        font-size: 2rem;
    }
    .header .navbar_wishlist-and-cart, .header-item {
        font-size: 15px;
    }
}
