
.product-card_container {
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.product-card_container a {
    text-decoration: none;
}
.product-card_container .heart-delete {
    text-align: right;
    margin-bottom: 10px;
}
.product-card_container .heart-delete i {
    color: var(--primary-color);
}

.product-card_img-container {
    height: 250px;
    object-fit: contain;
    margin-bottom: 0.5rem;
}
.product-card_img-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.product-card_info p {
    color: var(--primary-color);
    text-align: center;
}
.pName {
    font-weight: 700;
    margin-bottom: 0.5rem;
}

@media screen and (max-width: 1200px) {
    .product-card_container {
        padding: 10px;
    }
    .product-card_img-container {
        height: 200px;
    }
}
@media screen and (max-width: 540px) {
    .product-card_container {
        padding: 5px;
    }
    .product-card_img-container {
        height: 150px;
    }
    .product-card_info p {
        font-size: 12px;
    }
}
