.all-products_container {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 2rem 0;
}

.all-products_container a {
    width: 300px;
    height: 100%;
    place-self: center;
    text-decoration: none;
    font-family: var(--primary-font);
}

.all-products_container a img {
    transition: 0.24s ease-in-out;
}

.all-products_container a:hover img {
    transform: scale(1.03);
}

.bounce-wrapper {
    grid-column: 1/3;
}
@media screen and (max-width: 1200px) {
    .all-products_container a {
        width: 200px;
    }
}
@media screen and (max-width: 767px) {
    .all-products_container {
        grid-template-columns: repeat(2, minmax(30px, 1fr));
    }
}
@media screen and (max-width: 540px) {
    .all-products_container a {
        width: 145px;
    }
}
@media screen and (max-width: 375px) {
    .all-products_container {
        gap: 1rem 0;
    }
}
