.productDetail-container {
    justify-content: start;
    align-items: flex-start;
    gap: 5rem;
    font-family: var(--primary-font);
}

.product-img_container {
    width: 40%;
}

.product-info_container {
    width: 60%;
}

.product-info_container hr {
    border: none;
    border-bottom: 1px solid grey;
    margin: 2rem 0;
}

.product-price {
    margin: 1rem 0;
    font-size: 18px;
}

.product-desc {
    margin-bottom: 1rem;
}

.product-btn {
    font-family: var(--primary-font);
    font-size: 0.9rem;
    background-color: transparent;
    outline: none;
    border: 1px solid black;
    min-width: 50%;
    padding: 0.7rem 0;
    margin: 1rem 0;
    display: block;
    transition: 0.1s ease-in-out;
}

.product-btn:hover {
    background-color: black;
    color: white;
}
.product-btn:disabled {
    color: black;
    background-color: rgba(0, 0, 0, 0.185);
    border: 1px solid transparent;
    opacity: 0.5;
    pointer-events: none;
}

.inStock {
    line-height: 15px;
    margin: 2rem 0;
}
.inStock::before {
    margin-right: 10px;
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    background-color: rgba(0, 204, 0, 0.767);
}
.outOfStock {
    line-height: 15px;
    margin: 2rem 0;
}
.outOfStock::before {
    margin-right: 10px;
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    background-color: rgba(216, 14, 14, 0.767);
}